version: "3"
services:
  backend:
    restart: unless-stopped
    container_name: concordo-back
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - nginx_default
      - internal
    volumes:
      - ./data/avatars:.avatars/
      - ./data/groupimages:.groupimages/
      - ./data/thumbnails:.thumbnails/
      - ./data/uploads:.uploads/
    environment:
      - PORT=3000
      - APP_DOMAIN=
      - APP_NAME=Concordo
      - KEY_ALGORITHM=aes-256-cbc
      - SECRET_KEY=<random value>
      - IV_KEY=<random value>
      - MONGO_URI=mongodb://mongodb:27017/concordo?retryWrites=true&w=majority
      - VERIFICATION=<bool>
      - EMAIL_PROVIDER=smtp|resend
      - RESEND_KEY=
      - EMAIL_SMTP_SERVER=
      - EMAIL_SMTP_PORT=
      - EMAIL_USER-
      - EMAIL_PASSWORD=
      - SOCKET_URL=ws.domain.tld
      - SOCKET_TOKEN=<random value>
      - SOCKET_LOCAL=server
      - MESSAGENS_LIMITE=50
    command: pnpm start
    depends_on:
      - server
      - mongodb

  frontend:
    restart: unless-stopped
    container_name: concordo-front
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - nginx_default
    command: pnpm start
    depends_on:
      - backend
      - server

  server:
    restart: unless-stopped
    container_name: concordo-server
    build:
      context: ./server
      dockerfile: Dockerfile
    networks:
      - nginx_default
      - internal
    environment:
      - PORT=3001
      - KEY_ALGORITHM=aes-256-cbc
      - SECRET_KEY=<random value>
      - IV_KEY=<random value>
      - MONGO_URI=mongodb://mongodb:27017/concordo?retryWrites=true&w=majority
      - SOCKET_TOKEN=<random value>
    command: pnpm start
    depends_on:
      - backend
      - mongodb

  mongodb:
    restart: unless-stopped
    container_name: concordo-db
    image: mongo:4.4
    networks:
      - internal
    volumes:
      - ./data/mongodb:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=
      - MONGO_INITDB_ROOT_PASSWORD=
    command: mongod --noauth

networks:
  nginx_default:
    external: true
  internal:
    external: false
