.menu {
    position: absolute;
    background: var(--bg2);
    display: flex;
    border-radius: 5px;
}

.menu ul {
    list-style-type: none;
    gap: 5px;
    display: flex;
    flex-direction: column;

    padding: 10px;
}

.menu ul li {
    cursor: pointer;

    padding: 5px;
    max-inline-size: none;
    width: 100%;
    border-radius: 5px;
}

.menu ul li:hover {
    background-color: var(--bg4);
    color: var(--textColor);
}

.menu ul li:hover:is(.red) {
    background-color: var(--red);
    color: var(--textColor);
}
