.header {
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: 15px;
	margin-bottom: 35px;
	mix-blend-mode: normal;
	border: 1px solid #ffffff;
	border-radius: 10px;

	display: flex;
	justify-content: space-between;

	align-items: center;

	padding: 1% 40px;
}

@media (prefers-color-scheme: light) {
	.header {
		background-color: rgba(217, 217, 217);
		color: #ffffff;
	}
}

.header h1 {
	color: black;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
}

.header a {
	background: #8f8f8f;
	border-radius: 15px;
	padding: 15px 20px;
}
